body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /* background: #5e2ca5; */
  height: 100vh;
  background: linear-gradient(-45deg, #7632FF, rgb(156, 50, 255));
  -webkit-font-smoothing: antialiased;
}
